<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.xyzerstudios.moneymanager">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoneyManager"
        tools:targetApi="31">
        <activity
            android:name=".activities.edit.EditBudgetActivity"
            android:exported="false" />
        <activity
            android:name=".activities.add.AddBudgetActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BudgetsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.add.AddBalanceActivity"
            android:exported="false" />
        <activity
            android:name=".activities.edit.EditIncomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.add.AddIncomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.add.AddCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.edit.EditCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.edit.EditExpenseActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.add.AddExpenseActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DatabaseTestActivity"
            android:exported="false" />
        <activity
            android:name=".activities.IncomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ExpensesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.add.AddPortfolioActivity"
            android:exported="false" />
        <activity
            android:name=".activities.edit.EditPortfolioActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PortfoliosActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BalanceActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>